@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Black+Ops+One&family=Roboto:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: rgb(10, 9, 9);
    --card-bg: rgb(234, 224, 224);
    --bg-color: rgb(161, 154, 154);
    --primary-color: rgb(17, 62, 33);
    --secondary-color: rgb(154, 113, 64);
    --primary-opacity: rgba(17, 62, 33, 0.89);
    --secondary-opacity: rgba(154, 113, 64, 0.89);
    --font-family: 'Roboto', 'Courier New', Courier, monospace, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
}

html {

    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-size: 19px;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    overflow-x: hidden;
    width: 100vw;
}

.font-ops {
    font-family: 'Black Ops One', 'Roboto', 'Courier New', Courier, monospace, sans-serif;
}

.font-ale {
    font-family: 'Alegreya', 'Courier New', Courier, monospace, sans-serif;
}